<div id="<%= dom_id dataset %>">
  <p>
    <strong>Key:</strong>
    <%= dataset.key %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= dataset.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dataset.description %>
  </p>

</div>
